@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap');

body {
    /* need min size for screen*/

    overflow: hidden;
    margin: 0;
    padding: 0;

    background-color: #000000;

    color: #ffffff;
    font-family: Montserrat, sans-serif;
}

.firstPage {
    height: 100vh;
    width: 100%;
}

.firstPage__content {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    font-weight: 600;
    font-size: 50px;
    text-transform: uppercase;
}

.firstPage__content_title {
    position: absolute;
    z-index: 1;

    color: #8B8B8B;
}

.firstPage__content_title_light {
    width: 100%;
    height: 100%;

    background: radial-gradient(30% 15% at 50% 50%, #ff9b00 0%, rgba(255, 153, 0, 0.0) 50%);
    filter: blur(100px);

    animation-duration: 3500ms;
    animation-name: light;
}

/*... Need animation...*/

.firstPage__content_title_shadows {
    position: absolute;
    color: #8B8B8B;
    font-size: 96px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.firstPage__content_title_shadows_around {
    height: fit-content;

    opacity: 0.10;

    animation-duration: 1500ms;
    animation-name: shadow;
}

#firstPage__content_title_shadows_top{
    margin-block-end: auto;
}

#firstPage__content_title_shadows_bottom{
    margin-block-start: auto;
}
#firstPage__content_title_shadows_middle {
    margin: 0;

    opacity: 0.15;
}

@-webkit-keyframes shadow {
    0% {
        opacity: 0.10;
        margin: 0;
    }
    100% {
        position: initial;
    }
}

@-webkit-keyframes light {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 100;
    }
}

/* ... Need adaptative for resizing ... */