@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap);

body {

    margin: 0;
    padding: 0;

    overflow: hidden;
    overflow-y: scroll;

    width: 100vw;
    height: auto;

    background-color: #0a0a0a;

    color: #ffffff;
    font-family: Montserrat, sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    height: 100px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background: #616161;
    border-radius: 10px;
}

/* ------------- Home -------------- */

#home {
    margin-bottom: 200px;
    height: 100vh;
}

/* ------------- Home Github Logo ------------- */

#first__github {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 8vw;
    height: 7.5vw;

    animation-duration: 1500ms;
    animation-name: appear;
}

#first__github a {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 1;
}

#first__github img {
    width: 100%;
    height: 100%;
}

#first__github span {
    position: relative;

    width: 100%;
    height: 100%;
    background: radial-gradient(#ffffff 0%, #ffffff 10%, #ff9a00 90%);
    filter: blur(15px);
    border-radius: 100%;
}

/* ------------- Home Titles -------------*/

#first__text {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-weight: 600;
    font-size: 3.5vw;
    text-transform: uppercase;
}

#first__text_title {
    position: absolute;
    z-index: 1;

    color: #8B8B8B;
}

#first__text_title_light {
    width: 100%;
    height: 100%;

    background: radial-gradient(35% 15% at 50% 50%, #ff9a00 0%, rgba(255, 153, 0, 0.0) 50%);
    filter: blur(100px);

    animation-duration: 1500ms;
    animation-name: appear;
}

.first__text_title_shadows {
    position: absolute;

    font-size: 6.5vw;
    color: #8B8B8B;
    white-space: nowrap;
}

.first__text_title_shadows:nth-child(4) {
    margin-bottom: 10%;
    opacity: 0.10;
}

.first__text_title_shadows:nth-child(3) {
    opacity: 0.20;
}

.first__text_title_shadows:nth-child(2) {
    margin-top: 10%;
    opacity: 0.10;
}

.shadow {
    animation-duration: 1500ms;
    animation-name: shadow;
}

/* ------------- Presentation ------------- */

#presentation {
    margin-bottom: 200px;
}

#presentation__container {
    margin: 0;
    padding:0;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.presentation__title {
    text-align: center;

    font-size: 3.5vw;
    font-weight: 600;
    text-transform: uppercase;

    background: linear-gradient(180deg, #ff9a00 10%, #0a0a0a 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

#presentation__introduction_container{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#presentation__introduction_text {
    margin: 0 0 0 1em;

    width: 40vw;

    font-size: 1.4em;
}

#presentation__introduction_text p {
    margin: 0.5em;
    padding: 0;
}

#presentation__interest_container {
    margin: 0;
    padding: 0;

    width: 40%;
}


#presentation__interest_grid{
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.presentation__interest_element {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation__interest_element img {
    width: 40%;
    height: 100%;
}

.presentation__interest_element p {
    margin: 0.5em 0 0.5em 0;
    padding: 0;

    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
}

/* ------------- ABOUT ------------- */

#about {
    margin-bottom: 200px;
    padding: 0;

    width: 100%;
}

#about_title_container {
    position: absolute;
    z-index: 0;

    width: 100%;

    text-align: center;
}

#about_title_container h1 {
    margin: 0;
    padding: 0;

    font-size: 25vw;
    font-weight: 600;
    text-transform: uppercase;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.24) 20%, rgba(111, 60, 0, 0.320522) 70%, #FF8A00 100%, rgba(255, 138, 0, 0.33) 130%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}